.navigation{
    padding: 0 8px;
    display: flex;
    height: 72px;
    align-items: center;
   
  justify-content: space-between;
  
  }
  .navigation img{
    width: 1000px;
  }
  
  
  .navigation ul {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    gap: 24px;
  
  
  }
  